@import url(_reset.css);

/* ====================
   global styles
   ==================== */

body {
  overflow-x: hidden;
  height: 100vh;
  font-family: sans-serif;

}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

a.button {
  padding: 0.2em 1em;
}

/* ====================
         typography
         ==================== */

h1,
h2,
h3 {
  line-height: 1;
}

h1,
h2,
h3,
p {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

/* ====================
       Layout
       ==================== */

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

/* ====================
    Images
   ==================== */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ====================
    Header
   ==================== */

#top-nav {
  display: flex;
  gap: 2em;
  justify-content: center;
  background-color: #000;
  margin: 0;
  padding: 1em 0;
  margin-bottom: 40px;
  align-items: center;
}

#top-nav a {
  color: #fff;
}

/* ====================
    Login page
   ==================== */

.auth-heading {
  margin-bottom: 2rem;
}

.auth-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--clr-primary-700);
}

.auth-form input[type="email"],
.auth-form input[type="text"],
.auth-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #218838;
}

.auth-form a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
}

/* ====================
    Profile page
   ==================== */

#profile-header {
  text-align: center;
  margin-bottom: 20px;
}

#banner-container {
  width: 100%;
}

#banner-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

#profile-pic-container {
  width: 150px;
  height: 150px;
  margin-top: -50px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
}

#profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #f0f0f0;
}

#profile-name {
  margin-bottom: 0.4em;
}

/* ====================
    Post page
   ==================== */

.admin-buttons {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

/* ====================
    Edit profile modal
   ==================== */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.modal label {
  font-weight: bold;
}

.modal input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.modal button:hover {
  background-color: #45a049;
}

/* ====================
    Forms
   ==================== */

#loginForm {
  color: #fff;
  font-weight: 300;
}

form#post-edit-form,
form[name="createPost"] {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  margin-bottom: 200px;
  background-color: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form#post-edit-form div,
form[name="createPost"] div {
  margin-bottom: 15px;
}

form#post-edit-form label,
form[name="createPost"] label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

form#post-edit-form input[type="text"],
form#post-edit-form textarea,
form#post-edit-form input[type="url"],
form[name="createPost"] input[type="text"],
form[name="createPost"] input[type="url"],
form[name="createPost"] textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}