@import url(_reset.css);

/* test style to check if css running*/

/* ====================
   global styles
   ==================== */

:root {
  --clr-primary-500: #9E9E9E;
  --clr-primary-600: #4F4F4F;
  --clr-primary-700: #000;

  --clr-contrast-400: #0c558d;

  --ff-primary: 'Nunito', sans-serif;
  --ff-accent: 'Archivo', sans-serif;

  --fs-300: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --fs-400: clamp(1.2rem, 1.0959rem + 0.5207vw, 1.4994rem);
  --fs-500: clamp(1.44rem, 1.2457rem + 0.9717vw, 1.9988rem);
  --fs-600: clamp(1.7281rem, 1.4025rem + 1.6283vw, 2.6644rem);
  --fs-700: clamp(2.0738rem, 1.5596rem + 2.5707vw, 3.5519rem);
  --fs-800: clamp(2.4881rem, 1.7066rem + 3.9076vw, 4.735rem);
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--fs-300);
  line-height: 1.6;
  overflow-x: hidden;
  background: linear-gradient(to bottom, var(--clr-primary-600), var(--clr-primary-700));
  background-repeat: no-repeat;
  height: 100vh;
  
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: #fff;
}

a.button {
  padding: 0.2em 1em;
}

/* ====================
         components
         ==================== */

button, .button {
  background-color: var(--clr-contrast-400);
  border: none;
  border-radius: 5px;
  padding: 0.4em 1em;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 1em;
  margin-top: 0.4em;
}

button:hover, .button:hover {
  transform: translateY(-0.5rem);
  transition: transform 250ms;
  background-color: #044272;
}

#load-more-button {
  text-decoration: underline;
  color: var(--clr-primary-500);
  margin: 1em;
  cursor: pointer;
}

.logout-button {
  background-color: var(--clr-primary-600);
}

.logout-button:hover {
  background-color: var(--clr-primary-700);
}

#profile-container {
  margin-bottom: 1em;
}

/* ====================
         typography
         ==================== */


h1 {
  font-family: var(--ff-accent);
}

h1,
h2,
h3 {
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

h1 {
  margin-top: 2.5rem;
  font-size: var(--fs-800);
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: var(--fs-500);
  font-weight: 700;
  color: #fff;
}

h3 {
  font-size: var(--fs-400);
  font-weight: 700;
  color: #fff;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: var(--fs-300);
}

/* ====================
       Layout
       ==================== */

section,
main {
  padding: 4rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}



.profile-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 40em) {

  section,
  main {
    padding: 7rem 0;
  }
}

/* ====================
    Images
   ==================== */

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* ====================
    Post
   ==================== */

.post {
  margin-top: 1em;
}

.post-image {
  border-radius: 0.6rem;
  transition: 250ms ease;
}

.post-image:hover {
  border-radius: 5px;
  filter: brightness(.6);
}


#posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

/* ====================
    Popups
   ==================== */

   #successPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#error-popup {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



/* ====================
    delete confirmation modal
   ==================== */

.delete-modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

.delete-modal-content {
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-modal button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

#confirm-ok {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

#confirm-cancel {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
}

.delete-modal button:hover {
  opacity: 0.8;
}

/* ====================
    Profile page
   ==================== */
    
   #profile-header {
     text-align: center;
     margin-bottom: 20px;
   }
   #banner-container {
     width: 100%;
   }
   #banner-image {
     width: 100%;
     height: auto;
     max-height: 300px;
     object-fit: cover;
   }
   #profile-pic-container {
    width: 150px; 
    height: 150px; 
    margin-top: -50px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden; 
    border: 3px solid white; 
}

#profile-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    background-color: #f0f0f0; 
}


   #profile-bio {
    color: var(--clr-primary-500);
    font-weight: 300;
   }

   #profile-name {
    margin-bottom: 0.4em;
   }

   .bg-wrapper {
    background: linear-gradient(to bottom, var(--clr-primary-600), var(--clr-primary-700));
    background-repeat: no-repeat;
  }

  /* ====================
    Edit profile modal
   ==================== */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.modal label {
  font-weight: bold;
}

.modal input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.modal button:hover {
  background-color: #45a049;
}

/* ====================
    Forms
   ==================== */

   #loginForm {
    color: #fff;
    font-weight: 300;
   }



   